**/logs/*
project/project
**/target/*
*/tmp/*
dist
*.log
*.sc
**/.idea/*
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
ojdbc6.jar
.pid
.attach_pid*
.bsp
scala2/project/
scala3/project/
